/*<link rel="stylesheet" type="text/css" href="syllabus_styles.css">*/

h1 {
      color: purple;
      border-bottom: 3px black solid;
    }
    h2 {
      color: green;
    }
    .highlight {
      background-color: yellow;
    }
    .important {
      text-decoration: underline;
    }
